/* splash.css */
@import url(common.css);

body {
  background: linear-gradient(to top, #278eff, #6271ff);
}
/* main */
main {
  height: 85.5%;
  padding-top: 64px;
}
/* app name */
.spl_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  height: 20%;
  padding-top: 90px;
  margin-left: 30px;
}
.spl_name_inner > h1 {
  font-size: 48px;
  font-weight: 700;
}
.spl_name_inner > span {
  font-size: 20px;
  color: #a4d6f6;
  margin-left: 8px;
}
/* spl_logo */
.spl_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 340px;
}
.spl_logo > span {
  margin: 0 auto;
}
.spl_logo > span > img {
  width: 300px;
}
/* spl_loginBtn */
.spl_loginBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.spl_loginBtn > span > a {
  width: 325px;
  height: 56px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 56px;
}
.spl_loginBtn > span:nth-of-type(1) > a {
  color: #000;
  background: #fff;
  margin-bottom: 11px;
}
.spl_loginBtn > span:nth-of-type(2) > a {
  color: #fff;
  background: #1ea5fc;
}
